
<div class="modal" >
    <table>
        <tr>
            <td colspan="2"><img class="img_load" src="/images/loading3.gif"/></td>
            <td style="text-align:center;"><h3 id="id_title">Документ формируется</h3></td>
        </tr>
        <tr style="text-align:center;">
            <td><p id="id_body">Если документ не загружается, нажмите на кнопку скачать!</p></td>
        </tr>
    </table>
</div>

<style>
    .modal_load {
        width: 150px;
        height: 55px;
        background: #ffffff;
        border-radius: 15px;
    }

    .img_load {
        width: 50px;
        height: 50px;
    }
</style>