@model IEnumerable<GIPManager.User>

<div style="width:100%">
    <select id="inputMaster" class="swal2-input">
        <option value="0">- Выберите мастера -</option>
        @foreach (var item in Model)
        {
            <option value="@item.WorkerID">@item.Name</option>
        }
    </select>
</div>
